/* limpar formatações padrão */
* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     background-color: gray;
}

/*
**** Layout ****
*/

#Navbar {
    background: #f7b600 ;
    padding: 15px;
    text-align: center;
}

#Navbar-Logo, #Navbar-Menu{
    padding: 10px;
}

#NavBar-Main{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#Navbar-postagens{
    width: 660px;
    float: left;
}

#navbar-lateral{
    width: 240px;
    float: right;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    
}

/*
**** Formatações em geral ****
*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background:#CCC;
    padding: 5px;
}

.white{
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*
**** Formatação Do Menu ****
*/

a {
    text-decoration: none;
}

a:link, a:visited{
    color: black;

}
a:hover {
text-decoration: underline;
}

#Navbar a:link, #Navbar a:visited{
    color: white;
    padding: 8px 12px;
}
#Navbar a:hover {
    color: orange;
    background-color: white;
    text-decoration: underline;
}

.Postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}


